$primary-500: #0e879e;
$primary-400: #07a0b8;
$primary-300: #3dc0d4;
$primary-200: #96dde9;
$primary-100: #e6f6f9;
$primary-50: #f0f8fa;
$neutral-800: #222222;
$neutral-600: #3c3c3c;
$neutral-400: #999999;
$neutral-200: #d7d7d7;
$neutral-100: #e8e8e8;
$neutral-50: #f7f7f7;
$neutral-0: #ffffff;
$green-500: #00bc3c;
$green-400: #4dd077;
$green-300: #80de9e;
$green-200: #b3ebc5;
$green-100: #e6f8ec;
$red-500: #f54e4e;
$red-400: #f56c6c;
$red-300: #fc8989;
$red-200: #fbb8b8;
$red-100: #feeded;
